

<form>
    <div class="loginContainer">
        <h2 id="loginHeader">Sign Into Account</h2>
        <h2 id="usernameTitle">Username</h2>
        <input id="usernameInput" placeholder="Username" type="email" name="username" />
        <h2 id="passwordTitle">Password</h2>
        <input id="passwordInput" type="password" placeholder="Password" />
        <input id="rememeberMe" type="checkbox" value="rememberMe" />
        <label for="rememberMe">Remember Me</label>        
        <button id="loginButton" class="">Login</button>
        <button id="registerButton" class="">Register Account</button>
        <span><a href="#" id="forgotPassword">Forgot password?</a></span>
    </div>
</form> 